<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>
</head>
<body>

<a th:href="@{/login}">Đăng nhập</a>
<p th:utext="${userName}"></p>

<a th:href="@{/logout}">Đăng xuất</a>

<!--<div th:if="${userName != null}">-->
<!--    <p th:utext="${userName}"></p>-->
<!--    <a th:href="@{/logout}"></a>-->
<!--</div>-->

<!--<a th:unless="${userName == null}" th:href="@{/login}">Đăng nhập</a>-->

</body>
</html>