<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" th:href="@{/login/images/icons/favicon.ico}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/login/vendor/bootstrap/css/bootstrap.min.css}">
    <!--===============================================================================================-->
<!--    <link rel="stylesheet" type="text/css"-->
<!--          th:href="@{/resources/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/login/vendor/animate/animate.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/login/vendor/css-hamburgers/hamburgers.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/login/vendor/select2/select2.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/login/css/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/login/css/main.css}">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img th:src="@{/login/images/img-01.png}" alt="IMG">
            </div>

<!--            <div class="login100-form validate-form" method="" >-->
<!--                <span class="login100-form-title">-->
<!--                    Member Login-->
<!--                </span>-->

<!--                <div class="messg">-->
<!--&lt;!&ndash;                    <span id="logResult" style="color: red;" th:utext="${checklogin}"></span>&ndash;&gt;-->
<!--                    <span id="logResult" style="color: red;"></span>-->
<!--                </div>-->

<!--                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">-->
<!--                    <input id="username" class="input100" type="text" name="username" placeholder="username">-->
<!--                    <span class="focus-input100"></span>-->
<!--                    <span class="symbol-input100">-->
<!--							<i class="fa fa-envelope" aria-hidden="true"></i>-->
<!--                    </span>-->
<!--                </div>-->

<!--                <div class="wrap-input100 validate-input" data-validate="Password is required">-->
<!--                    <input id="password" class="input100" type="password" name="password" placeholder="Password">-->
<!--                    <span class="focus-input100"></span>-->
<!--                    <span class="symbol-input100">-->
<!--							<i class="fa fa-lock" aria-hidden="true"></i>-->
<!--						</span>-->
<!--                </div>-->

<!--                <div class="container-login100-form-btn">-->
<!--                    <button id="btnLogin" class="login100-form-btn">-->
<!--                        Login-->
<!--                    </button>-->
<!--                </div>-->

<!--                <div class="text-center p-t-12">-->
<!--						<span class="txt1">-->
<!--							Forgot-->
<!--						</span>-->
<!--                    <a class="txt2" href="#">-->
<!--                        Username / Password?-->
<!--                    </a>-->
<!--                </div>-->

<!--                <div class="text-center p-t-136">-->
<!--                    <a class="txt2" th:href="@{/register}">-->
<!--                        Create your Account-->
<!--                        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
            <form class="login100-form validate-form" method="POST" th:action="@{/login}" >
                <span class="login100-form-title">
                    Member Login
                </span>

                <div class="messg">
                    <!--                    <span id="logResult" style="color: red;" th:utext="${checklogin}"></span>-->
                    <span style="color: red;" th:text="${logResult}"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input id="username" class="input100" type="text" name="username" placeholder="username">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input id="password" class="input100" type="password" name="password" placeholder="Password">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="submit">
                        Login
                    </button>
                </div>

                <div class="text-center p-t-12">
						<span class="txt1">
							Forgot
						</span>
                    <a class="txt2" href="#">
                        Username / Password?
                    </a>
                </div>

                <div class="text-center p-t-136">
                    <a class="txt2" th:href="@{/register}">
                        Create your Account
                        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<!--===============================================================================================-->
<script th:src="@{/login/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/login/vendor/bootstrap/js/popper.js}"></script>
<script th:src="@{/login/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/login/vendor/select2/select2.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/login/vendor/tilt/tilt.jquery.min.js}"></script>
<script>
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>
<!--===============================================================================================-->
<script th:src="@{/login/js/main.js}"></script>
<!--Custom api connect ajax-->
<script th:src="@{/login/js/custom.js}"></script>

</body>
</html>